html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}


:root {
    --accent-color-grey: #f8f8ff;
    --accent-color-yellow: #ffdc00;
    --border-color: #eee;
    --color: #333;
    --font-family: monospace;
    --font-size: 1.8rem;
    /*--line-height: 1.5;*/
    --padding-unit: .4rem;
}


body {
    color: var(--color);
    font: var(--font-size) var(--font-family);
	text-rendering: optimizeLegibility;
}

#wrapper {
    display: grid;
    grid-gap: var(--padding-unit);
    grid-template-columns: 1fr 4fr;
}


#menu ul {
    padding: calc(8 * var(--padding-unit)) 0;
}

#menu ul li {
    list-style-type: none;
    padding: calc(2 * var(--padding-unit)) 0;
    text-align: center;
}

#menu ul li a {
    color: inherit;
    display: inline-block;
    /*padding: 0 calc(var(--padding-unit));*/
    text-decoration: none;
    transition: background .15s;
}

#menu ul li a.selected {
    background: var(--accent-color-yellow);
    /*font-weight: bold;*/
}

#menu ul li a:hover {
    background: var(--accent-color-yellow);
}


#events {
    border-collapse: collapse;
    text-align: center;
}

#events,
#events tr,
#events td {
    border: 1px solid var(--border-color);
}

#events tbody tr:nth-child(odd) {
    background: var(--accent-color-grey);
}

#events th {
    padding: calc(1.5 * var(--padding-unit)) var(--padding-unit);
}

#events tr td {
    padding: calc(.75 * var(--padding-unit)) var(--padding-unit);
}
